[submodule "daemon"]
	path = daemon
	url = https://github.com/informjs/inform-daemon
[submodule "inform-client-cli"]
	path = inform-client-cli
	url = https://github.com/informjs/inform-client-cli
[submodule "shared"]
	path = shared
	url = https://github.com/informjs/inform-shared
[submodule "plugins/tropo-sms"]
	path = plugins/tropo-sms
	url = https://github.com/informjs/inform-plugin-tropo-sms
